@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "./spacing.css";

@theme {
  --font-sans: 'futura-pt', ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-teal: #00828D;
  --color-granite: #4D4E57;
  --color-sand: #F5EFED;
  --color-lime: #C6C013;
  --color-silver: #DEDEDE;

  /* Font Scale */
  --text-xxs: 16px;
  --text-xs: 18px;
  --text-sm: 20px;
  --text-md: 24px;
  --text-lg: 26px;
  --text-xl: 30px;
  --text-2xl: 50px;
  --text-3xl: 70px;

  --leading-snug: 1.25;
  
  --max-width-outer: 100rem;
  --max-width-inner: 90rem;
}

p:not(:last-child) {
  @apply mb-20 lg:mb-30;
}

/* Appear animations */
[data-appear] {
  @apply opacity-0 translate-y-25 transition-[opacity,translate] duration-300 ease-out delay-150;
}

[data-appear].is-visible {
  @apply opacity-100 translate-y-0;
}

[data-appear="hero"] {
  @apply translate-y-25 delay-150;
}

@media (prefers-reduced-motion: reduce) {
  [data-appear] {
    @apply opacity-100 translate-y-0 transition-none;
  }
}
